@use "../../styles/partials/mixins" as *;

.product {
  height: 38rem;
  width: 26rem;
  box-sizing: border-box;
  border-radius: 60px;
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
  margin-right: 1rem;
  box-shadow: 2px 2px 7px rgba($color: #000000, $alpha: 0.1);

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;

    &--border {
      border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }

  &__info-icon {
    width: 33%;
  }

  &__info-text {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  &__info-category {
    margin: 0;
    font-size: 1rem;
    padding-top: 0.5rem;
  }

  &__button {
    @include button;
    margin-bottom: 0.25rem;
    background-color: #e96f14;
    font-weight: 600;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0;

    &::before {
      content: "£";
    }
  }

  &__name {
    min-height: 20%;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0;
  }

  &__availability {
    font-size: 0.8rem;
    color: green;
    text-align: left;
    margin-top: 0;
  }

  &__pieces {
    width: 33%;
    border-left: solid 1px rgba($color: #000000, $alpha: 0.2);
    border-right: solid 1px rgba($color: #000000, $alpha: 0.2);
    padding-top: 0.5rem;
  }

  &__skill {
    width: 33%;
    padding-top: 0.5rem;
  }

  &__age {
    width: 33%;
    padding-top: 0.5rem;
  }

  &__image {
    width: 100%;
  }

  &__position {
    font-size: 0.75em;
  }

  &--inactive {
    opacity: 0.8;
  }

  &--blb {
    $blb-blue: hsl(216, 68%, 28%);
    $blb-light-blue: scale-color(
      $color: $blb-blue,
      $lightness: 96%,
    );
    background: $blb-light-blue;
    border: 4px solid $blb-blue;
    color: $blb-blue;
  }

  &--sws {
    $sws-red: hsl(358, 56%, 41%);
    $sws-light-red: scale-color(
      $color: $sws-red,
      $lightness: 96%,
    );
    $sws-blue: hsl(225, 84%, 20%);
    background: $sws-light-red;
    border: 4px solid $sws-red;
    color: $sws-blue;
  }

  &--pbp {
    $pbp-yellow: hsl(39, 87%, 61%);
    $pbp-light-yellow: scale-color(
      $color: $pbp-yellow,
      $lightness: 10%,
    );
    $pbp-black: hsl(0, 0%, 7%);
    background: $pbp-light-yellow;
    border: 4px solid $pbp-black;
  }

  &--hike {
    $hike-pink: hsl(306, 60%, 65%);
    $hike-light-pink: scale-color(
      $color: $hike-pink,
      $lightness: 10%,
    );
    $hike-black: hsl(0, 0%, 7%);
    background: $hike-light-pink;
    border: 4px solid $hike-black;
  }
}
