@use "../src/styles/partials/global";

.main {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  color: black;
  overflow-x: hidden;
}

.layout {
  display: flex;
  color: white;
  overflow-x: hidden;
}
